Repository fadwil/little-shop-7, pull requests merged in 2023-07, with the labels that each got.

#1 Db setup
  Gemfile
  Gemfile.lock
  app/models/customer.rb
  db/migrate/20230724214851_create_customers.rb
  db/migrate/20230724214928_create_transactions.rb
  db/migrate/20230724215002_create_merchants.rb
  db/migrate/20230724215014_create_invoice_items.rb
  db/migrate/20230724215127_create_invoices.rb
  db/migrate/20230724215320_create_items.rb
  db/migrate/20230724221817_add_item_to_invoice_items.rb
  db/migrate/20230724221849_add_invoice_to_invoice_items.rb
  db/migrate/20230724222519_add_invoice_to_transaction.rb
  db/migrate/20230724222658_add_merchant_to_items.rb
  db/migrate/20230724223410_add_customer_to_invoices.rb
  db/schema.rb
  lib/tasks/csv_load.rake
  spec/rails_helper.rb
  spec/spec_helper.rb
Labels: documentation

#2 rake task: p_key reset
  lib/tasks/csv_load.rake
Labels: documentation

#42 Admin Dashboard
  app/controllers/admin/dashboard_controller.rb
  app/helpers/admin_helper.rb
  app/views/admin/dashboard/index.html.erb
  config/routes.rb
  spec/admin/dashboard/index_spec.rb
  spec/examples.txt
  spec/helpers/admin_helper_spec.rb
  spec/requests/admin_spec.rb
Labels: ADMIN

#44 14 22 admin dashboard incomplete invoices
  app/controllers/admin/dashboard_controller.rb
  app/models/customer.rb
  app/models/invoice.rb
  app/models/invoice_item.rb
  app/views/admin/dashboard/index.html.erb
  lib/tasks/csv_load.rake
Labels: ADMIN

#49 Merchant dashboard
  app/controllers/merchants/dashboard_controller.rb
  app/controllers/merchants_controller.rb
  app/views/merchants/dashboard/index.html.erb
  config/routes.rb
  lib/tasks/csv_load.rake
  spec/examples.txt
  spec/feature/merchant/dashboard/dashboard_spec.rb
  spec/fixtures/customer_test.csv
  spec/fixtures/invoice_item_test.csv
  spec/fixtures/invoice_test.csv
  spec/fixtures/item_test.csv
  spec/fixtures/merchant_test.csv
  spec/fixtures/transaction_test.csv
  spec/spec_helper.rb
Labels: test
